<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd"
         bootstrap="core/vendor/autoload.php"
         colors="true"
         cacheDirectory=".phpunit.cache">
    <testsuites>
        <testsuite name="core-unit">
            <directory>core/tests/unit</directory>
        </testsuite>
        <testsuite name="core-integration">
            <directory>core/tests/integration</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">core</directory>
        </include>
        <exclude>
            <directory suffix=".php">core/vendor</directory>
            <directory suffix=".php">core/tests</directory>
            <directory suffix=".php">core/Presentation</directory>
        </exclude>
    </source>
</phpunit>
