apiVersion: apps/v1
kind: Deployment
metadata:
  name: cloudflared
  labels:
    app.kubernetes.io/name: hatshop
    app.kubernetes.io/instance: prod
    app.kubernetes.io/component: cloudflared
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: hatshop
      app.kubernetes.io/component: cloudflared
  template:
    metadata:
      labels:
        app.kubernetes.io/name: hatshop
        app.kubernetes.io/instance: prod
        app.kubernetes.io/component: cloudflared
    spec:
      containers:
        - name: cloudflared
          image: cloudflare/cloudflared:latest
          args:
            - tunnel
            - --no-autoupdate
            - run
          env:
            - name: TUNNEL_TOKEN
              valueFrom:
                secretKeyRef:
                  name: cloudflared-secret
                  key: CLOUD_FLARE_TOKEN
          resources:
            requests:
              memory: "64Mi"
              cpu: "50m"
            limits:
              memory: "128Mi"
              cpu: "200m"
