body
{
  font-family: tahoma, verdana, arial, sans-serif;
  font-size: 11px;
  margin: 0;
  padding: 5px;
  text-align: center;
}
body div
{
  margin: 0;
  padding: 5px;
  text-align: left;
}
.left_box
{
  margin: 0 15px 15px 0;
  padding: 2px;
  width: 170px;
}
img
{
  border: 0;
}
#header
{
  left: 194px;
  margin: 0;
  padding: 0;
  position: absolute;
  text-align: right;
  top: 10px;
  width: 570px;
}
#content
{
  left: 194px;
  margin: 0;
  padding: 0 0 10px 10px;
  position: absolute;
  top: 110px;
  width: 558px;
}
