name: DockerAll

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write

    strategy:
      fail-fast: false
      matrix:
        unit:
          - 'c00 - Apache Image'
          - 'c00 - Nginx Image'
          - 'c00 - PostgreSQL Image'
          - 'c01 - PHP Image'
          - 'c18 - Kubernetes In Docker'
          - 'c19 - Identity Provider'
          - 'c20 - OAuth2 Proxy'
          - 'c21 - Selenium'
          - 'c22 - Zero Trust'
          - 'hatshop'

    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Login
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Build and Push
        working-directory: src/${{ matrix.unit }}
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: ${{ github.workspace }}/.github/workflows/scripts/docker-build-push.sh "${{ matrix.unit }}" "${{ github.repository_owner }}"
